body {
  background-color: #5A8F7B;
}

h1 {
  color: #355764;
  font-style: italic;
}
#introduction {
  font-style: italic;
  font-weight: bold;
}
#content {
  margin: 3rem auto;
  width: 60%;
}
#content div {
  padding: 5px;
}
#title {
  margin-left: 3rem;
}
.heading {
  color: white;
  background-color: #355764;
  font-weight: bold;
  border-radius: 1rem;
}
.info {
  display: inline-block;
  padding: 5px;
  text-decoration: underline;
}
.info > span {
  color: #355764;
  font-weight: bold;
}
.Afiyet {
  font-size: 1.5rem;
  float: right;
  margin-right: 15rem;
  font-weight: bold;
}
@media (max-width:1100px) {
  .Afiyet {
    margin-right: 4rem;
  }
  #title {
    margin-left: 1rem;
  }
}
